<h1>Tiny App</h1>

<h3>
    <% if (users) { %>
      <form method="POST" action="/logout">
        <%= users %>
        <input type="submit" value="Logout">
      </form>
    <% } else { %>
      <form method="GET" action="/login">
        <input type="submit" value="Sign In">
      </form>
      <form method="GET" action="/register">
        <input type="submit" value="Register">
      </form>
    <% }; %>
</h3>



