<!DOCTYPE html>
<html lang="en">

<head>
  <title>TinyAPP Login</title>
  <h1>Tiny App</h1>
</head>

<body>
  <main>

    <form action="/login" method="POST" style="margin:150px;">
      <table style="width:0%; margin-left:auto; margin-right:auto; text-align: left">
        <caption><h2>Login</h2></caption>
        <tr>
          <th>
            <label for="email">Enter Your Email:</label>
          </th>
          <th>
            <input id="email" type="email" name="email" placeholder="youremail@email.com" style="width: 300px">
          </th>
        </tr>
        <tr>
          <th>
            <label for="password">Enter Your Password:</label>
          </th>
          <th>
            <input id="password" type="password" name="password" placeholder="Password" style="width: 300px">
          </th>
        <tr>
        <tr>
          <th><input type="submit" value="Sign In"></th>
        </tr>
      </table>
    </form>

    <center>
      <form method="GET" action='/urls'>
        <input type="submit" value="Main">
      </form>
    </center>

  </main>
</body>

</html>