<!-- views/urls_show.ejs -->

<!DOCTYPE html>
<html lang="en">

<head>
  <title>TinyApp</title>
</head>

<body>

  <header>
    <% include ./partials/_header %>
  </header>
    <!-- Add your EJS code here -->
  <main>
    <h1>
      <li>ShortURL: <%= shortURL %> = <a href='<%= longURL %>'><%= longURL %></a></li>
      <form method="POST" action="/urls/<%= shortURL %>">
        <input id="longURL", type="text" name="longURL" placeholder="http://" style="width: 300px">
        <input type="submit" value="Update">
      </form>

    </h2>
 <p>


    </p>
  </main>
</body>

</html>
