<!-- views/urls_show.ejs -->

<!DOCTYPE html>
<html lang="en">

<head>
  <title>TinyApp</title>
</head>

<body>

  <header>
    <% include ./partials/_header %>
  </header>
    <!-- Add your EJS code here -->
  <main>
    <h1>URL's</h2>
    <p>
        <li><a href='id'><%= shortURL %></a> > <%= longURL %></li>
    </p>
  </main>
</body>

</html>
